body, html{
    height: 100%;
    margin: 0; 
    
}
.container{
background-image: url(background.png);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
    color:white;
}
#search{
    border-radius: 10%;
}
 /* small tablet styles */
 @media screen and (min-width: 320px){
     .container{
         display:grid;
         grid-template-columns: repeat(6, 1fr);
         grid-template-rows: repeat(6, 1fr);
     }
     #search{
        /* grid-column:3;
        grid-row:1/2;
        height: 2em;
        margin-top:5px; */
        float:right;
        height: 2em;
        
    }
    
     #temp{
         grid-column: 1;
         grid-row:1;
         font-size:10em;
         margin-top:50px;
         margin-bottom:0;
      
     }
     #city{
        grid-column:1/6;
        grid-row:2;
        font-size:2em;
        margin-top:-190;
        font-weight: 300;
        margin-left:10px;

    } 
      #feels{
         grid-column:1/6;
         grid-row:2;
         margin:0;
         margin-left:5px;
         font-weight: 900;


     }
  
    #description{
        margin:0;
        margin-left:5px;
        grid-row:3;
        font-weight: 900;
    }
    #humidity{
        grid-row:4;
        margin:0;
        margin-left:5px;
        font-weight: 900;

    }
    #change{
        grid-row:2;
        grid-column:2;
        width:5em;
        height:3em;
    }
   
 }